.main-div{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,22%);
    grid-column-gap: 3%;
    grid-row-gap: 0.5%;
    
}
body{
    background-color: lightgray;
}
.sub-div{
    width: 90%;
    height: 280px;
    padding-left: 20px;
    padding-right: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: white;
   border-radius: 5%;
}

.sub-div>p>span{
    color: brown;
    font-weight: bold;
    font-size: 18px;

}

.sub-div>p{
    font-size: 17px;
    margin: 0%;
    font-family: calibri;
}

button{
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0px 10px;
}

button:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
}

.inp-div{
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 2%;

}
input{
    width: 50%;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 5%;

}